# Overview of the Data

In [2]:
%%capture
%load_ext sql
%sql sqlite:///Datasets/chinook.db

In [2]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

 * sqlite:///Datasets/chinook.db
Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table')]

## Highest Selling Genres in USA

In [4]:
%%sql

WITH usa_customers AS(
    SELECT * FROM invoice
    WHERE billing_country = 'USA')


SELECT
    g.name 'genre',
    SUM(il.quantity) 'total_sales',
    (CAST(SUM(il.quantity) AS Float) / (SELECT SUM(il.quantity) FROM invoice_line il
                                        INNER JOIN usa_customers uc ON uc.invoice_id = il.invoice_id)) * 100 'sale_percentage'
FROM invoice_line il
INNER JOIN usa_customers uc ON uc.invoice_id = il.invoice_id
LEFT JOIN track t ON t.track_id = il.track_id
INNER JOIN genre g ON g.genre_id = t.genre_id
GROUP BY g.genre_id
ORDER BY total_sales DESC

 * sqlite:///Datasets/chinook.db
Done.

[('Rock', 561, 53.37773549000951),
 ('Alternative & Punk', 130, 12.369172216936251),
 ('Metal', 124, 11.798287345385347),
 ('R&B/Soul', 53, 5.042816365366318),
 ('Blues', 36, 3.425309229305423),
 ('Alternative', 35, 3.3301617507136063),
 ('Pop', 22, 2.093244529019981),
 ('Latin', 22, 2.093244529019981),
 ('Hip Hop/Rap', 20, 1.9029495718363463),
 ('Jazz', 14, 1.3320647002854424),
 ('Easy Listening', 13, 1.236917221693625),
 ('Reggae', 6, 0.570884871550904),
 ('Electronica/Dance', 5, 0.47573739295908657),
 ('Classical', 4, 0.3805899143672693),
 ('Heavy Metal', 3, 0.285442435775452),
 ('Soundtrack', 2, 0.19029495718363465),
 ('TV Shows', 1, 0.09514747859181732)]

The output of this query reveals that Rock albums are significantly superior to all other genres in sails, making this the most suitable choice of genre if a record label were to sign an artist. Punk and Metal artists may also be considered.

## Analysing Employee Sales Performance
Each customer for the Chinook store gets assigned to a sales support agent within the company when they first make a purchase. I will be analysing the purchases of customers belonging to each employee to see if any sales support agent is performing either better or worse than the others.

In [26]:
%%sql

WITH
    supervising AS(
        SELECT
            e1.employee_id 'employee_id',
            e1.last_name 'employee_last_name',
            e1.first_name 'employee_first_name',
            e1.reports_to 'reports_to_id',
            e2.first_name 'supervisor_first_name',
            e2.last_name 'supervisor_last_name'
        FROM employee e1
        LEFT JOIN employee e2 ON e1.reports_to = e2.employee_id
),

    employee_totals AS(
        SELECT
            e.employee_id,
            e.last_name,
            ROUND(SUM(i.total), 2) 'total'
        FROM invoice i
        INNER JOIN customer c ON c.customer_id = i.customer_id
        INNER JOIN employee e ON e.employee_id = c.support_rep_id
        WHERE title = 'Sales Support Agent'
        GROUP BY c.support_rep_id
)

SELECT
    s.employee_id 'employee_id',
    e.first_name || ' ' || e.last_name 'employee_name',
    s.supervisor_first_name || ' ' || s.supervisor_last_name 'supervisor',
    e.hire_date 'hire_date',
    et.total 'total_sales'
FROM employee e
LEFT JOIN supervising s ON s.employee_id = e.employee_id
INNER JOIN employee_totals et ON et.employee_id = e.employee_id

 * sqlite:///Datasets/chinook.db
Done.

[(3, 'Jane Peacock', 'Nancy Edwards', '2017-04-01 00:00:00', 1731.51),
 (4, 'Margaret Park', 'Nancy Edwards', '2017-05-03 00:00:00', 1584.0),
 (5, 'Steve Johnson', 'Nancy Edwards', '2017-10-17 00:00:00', 1393.92)]

The output of this query reveals that Jane Peacock has garnered the most in total sales, however it is important to note how long each sales support agent has been working for Chinook, as Jane Peacock has also worked there for the longest. In contrast, although Steve Johnson has ~20% less in total sales than Jane, he has worked there for 6.5 months less than Jane. 

## Analysing Sales by Country

In [102]:
%%sql

WITH
    countries_others AS(
        SELECT
            CASE
                WHEN (SELECT COUNT(*) FROM customer c2
                      WHERE c2.country = c1.country
                      ) = 1 THEN 'Other'
                ELSE c1.country
            END AS country,
            c1.customer_id
        FROM customer c1
),
    
    country_count AS(
        SELECT country,
        COUNT(*) 'count',
        CASE
            WHEN country = 'Other' THEN 1
            ELSE 0
        END AS rank
        FROM countries_others
        GROUP BY country
)

    
SELECT
    co.country,
    cc.count 'total_customers',
    ROUND(SUM(i.total), 2) 'total_sales',
    ROUND(SUM(i.total) / cc.count, 2) 'avg_sale_per_customer'
FROM countries_others co
INNER JOIN country_count cc ON cc.country = co.country
INNER JOIN invoice i ON i.customer_id = co.customer_id
GROUP BY 1
ORDER BY cc.rank, total_sales DESC

 * sqlite:///Datasets/chinook.db
Done.

[('USA', 13, 1040.49, 80.04),
 ('Canada', 8, 535.59, 66.95),
 ('Brazil', 5, 427.68, 85.54),
 ('France', 5, 389.07, 77.81),
 ('Germany', 4, 334.62, 83.66),
 ('Czech Republic', 2, 273.24, 136.62),
 ('United Kingdom', 3, 245.52, 81.84),
 ('Portugal', 2, 185.13, 92.57),
 ('India', 2, 183.15, 91.58),
 ('Other', 15, 1094.94, 73.0)]

## Albums vs Individual Tracks
The Chinook store is setup in a way that allows customers to make purchases in one of two ways:
* Purchase a whole album outright
* Purchase a collection of one or more individual tracks

The store does not let customers purchase a whole album, and then add individual tracks to that same purchase (unless they do that by choosing each track manually). When customers purchase albums, they are charged the same price as if they had purchased each of those tracks separately.

Management are currently considering changing their purchasing strategy to save money. The strategy they are considering is to purchase only the most popular tracks from each album from record companies, instead of purchasing every track from an album.

I will be finding out what percentage of purchases are individual tracks vs whole albums, so that management can use this data to understand the effect this decision might have on overall revenue.

There are two edge cases that must be highlighted:
* Albums that have only one or two tracks are likely to be purchased by customers as part of a collection of individual tracks.
* Customers may decide to manually select every track from an album, and then add a few individual tracks from other albums to their purchase.

In the first case, since my analysis is concerned with maximizing revenue, albums consisting of only a few tracks can safely be ignored. The company has previously completed analysis to confirm that the second case does not happen often, so I will also ignore this case.

In [136]:
%%sql

CREATE VIEW invoice_album AS
SELECT
    il.invoice_line_id,
    il.invoice_id,
    il.track_id,
    t.album_id,
    t.name 'track',
    a.title 'album'
FROM invoice_line il
INNER JOIN track t ON t.track_id = il.track_id
INNER JOIN album a ON a.album_id = t.album_id

 * sqlite:///Datasets/chinook.db
Done.

[]

In [121]:
%%sql

CREATE VIEW album_track AS
SELECT * FROM track t
INNER JOIN album a ON a.album_id = t.album_id

 * sqlite:///Datasets/chinook.db
Done.

[]

In [122]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

 * sqlite:///Datasets/chinook.db
Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table'),
 ('invoice_album', 'view'),
 ('album_track', 'view')]

In [194]:
%%sql

WITH album_checker AS(
    SELECT 
        invoice_id,
        COUNT(invoice_id) 'invoice_count',
        COUNT(DISTINCT(album_id)) 'album_count'
    FROM invoice_album
    GROUP BY invoice_id
),

    album_track AS(
        SELECT
            ia.*,
            CASE
                WHEN (ac.invoice_count > 3 AND ac.album_count = 1) THEN 'album'
                ELSE 'track'
            END AS 'purchase_type'
        FROM invoice_album ia
        INNER JOIN album_checker ac ON ac.invoice_id = ia.invoice_id
),

    purchase_type_totals AS(
        SELECT
            purchase_type,
            COUNT(purchase_type) 'total_purchases'
        FROM (SELECT invoice_id, purchase_type
              FROM album_track
              GROUP BY 1)
        GROUP BY purchase_type
)

SELECT
    *,
    CAST(total_purchases AS Float) / (SELECT CAST(SUM(total_purchases) AS Float) FROM purchase_type_totals) 'purchase_percentage'
FROM purchase_type_totals

 * sqlite:///Datasets/chinook.db
Done.

[('album', 132, 0.21498371335504887), ('track', 482, 0.7850162866449512)]

Here, we can see that album purchases equate to ~21% of all Chinook sales. Therefore, it is recommended that management do not change their strategy in order to save money as this will result in a significant loss in sales.

### Correct SQL Query

In [200]:
%%sql
WITH invoice_first_track AS (
  SELECT
    il.invoice_id AS invoice_id,
    MIN(il.track_id) AS first_track_id
  FROM
    invoice_line il
  GROUP BY
    1
)

-- Use a subquery to select the results of the invoice_first_track CTE and determine whether customers made album purchases
SELECT
  album_purchase,
  COUNT(invoice_id) AS number_of_invoices,
  CAST(COUNT(invoice_id) AS FLOAT) / (
    SELECT COUNT(*) FROM invoice
  ) AS percent
FROM
  (
    SELECT
      ifs.*,
      CASE
        -- Use the EXCEPT operator to compare the tracks in the first invoice with the tracks in subsequent invoices,
        -- and determine whether any tracks from the album were purchased in subsequent invoices.
        -- If the result of the EXCEPT is NULL, it means that all tracks from the album were purchased in subsequent invoices,
        -- and the customer made an album purchase.
        -- If the result of the EXCEPT is not NULL, it means that at least one track from the album was not purchased in subsequent invoices,
        -- and the customer did not make an album purchase.
        WHEN (
          SELECT
            t.track_id
          FROM
            track t
          WHERE
            t.album_id = (
              SELECT
                t2.album_id
              FROM
                track t2
              WHERE
                t2.track_id = ifs.first_track_id
            )
          EXCEPT
          SELECT
            il2.track_id
          FROM
            invoice_line il2
          WHERE
            il2.invoice_id = ifs.invoice_id
        ) IS NULL
        AND (
          SELECT
            il2.track_id
          FROM
            invoice_line il2
          WHERE
            il2.invoice_id = ifs.invoice_id
          EXCEPT
          SELECT
            t.track_id
          FROM
            track t
          WHERE
            t.album_id = (
              SELECT
                t2.album_id
              FROM
                track t2
              WHERE
                t2.track_id = ifs.first_track_id
            )
        ) IS NULL
        THEN "yes"
        ELSE "no"
      END AS album_purchase
    FROM
      invoice_first_track ifs
  ) subquery
-- Group by album_purchase to get the counts and percentages for each type of purchase
GROUP BY
  album_purchase;

 * sqlite:///Datasets/chinook.db
Done.

[('no', 500, 0.8143322475570033), ('yes', 114, 0.18566775244299674)]

## Which Artist Is Used in the Most Playlists?

In [6]:
%%sql

CREATE VIEW playlist_data AS
SELECT pt.playlist_id, t.track_id, t.name 'track', ar.name 'artist'FROM
playlist_track pt
INNER JOIN track t ON t.track_id = pt.track_id
INNER JOIN album al ON al.album_id = t.album_id
INNER JOIN artist ar ON ar.artist_id = al.artist_id

 * sqlite:///Datasets/chinook.db
Done.

[]

In [10]:
%%sql

SELECT artist, COUNT(*) FROM playlist_data
GROUP BY 1
ORDER BY 2 DESC

 * sqlite:///Datasets/chinook.db
Done.

[('Iron Maiden', 516),
 ('U2', 333),
 ('Metallica', 296),
 ('Led Zeppelin', 252),
 ('Deep Purple', 226),
 ('Lost', 184),
 ('Pearl Jam', 177),
 ('Faith No More', 145),
 ('Eric Clapton', 145),
 ('Lenny Kravitz', 143),
 ('Red Hot Chili Peppers', 128),
 ('Van Halen', 122),
 ('Os Paralamas Do Sucesso', 119),
 ('Titãs', 114),
 ("Guns N' Roses", 114),
 ('Various Artists', 112),
 ('The Rolling Stones', 111),
 ('Chico Science & Nação Zumbi', 108),
 ('The Office', 106),
 ('Kiss', 104),
 ('Foo Fighters', 101),
 ('R.E.M.', 96),
 ('Jamiroquai', 96),
 ('Queen', 94),
 ('Nirvana', 93),
 ('Legião Urbana', 93),
 ('Chico Buarque', 87),
 ('Smashing Pumpkins', 85),
 ('Green Day', 83),
 ('Djavan', 83),
 ('Gilberto Gil', 82),
 ('Audioslave', 81),
 ('Creedence Clearwater Revival', 80),
 ('Ozzy Osbourne', 79),
 ('The Tea Party', 76),
 ('Cidade Negra', 76),
 ('Santana', 75),
 ('Miles Davis', 75),
 ('Tim Maia', 67),
 ('The Cult', 64),
 ('Antônio Carlos Jobim', 64),
 ('Caetano Veloso', 63),
 ('Cássia Eller', 62),
 ('James Brown', 60),
 ('Zeca Pagodinho', 57),
 ('Skank', 57),
 ('House Of Pain', 57),
 ('Lulu Santos', 56),
 ('Milton Nascimento', 55),
 ('The Clash', 54),
 ('Spyro Gyra', 54),
 ('Mötley Crüe', 52),
 ('Body Count', 51),
 ('Soundgarden', 49),
 ('Planet Hemp', 48),
 ('Funk Como Le Gusta', 48),
 ('Frank Sinatra', 48),
 ('Def Leppard', 48),
 ('Battlestar Galactica (Classic)', 48),
 ('Heroes', 46),
 ('Amy Winehouse', 46),
 ('Aerosmith', 45),
 ('Gonzaguinha', 44),
 ('Gene Krupa', 44),
 ('UB40', 42),
 ('The Police', 42),
 ('Rush', 42),
 ('Passengers', 42),
 ('Ed Motta', 42),
 ('The Who', 40),
 ('Battlestar Galactica', 40),
 ('Incognito', 39),
 ('Alanis Morissette', 39),
 ('The Black Crowes', 38),
 ('Stone Temple Pilots', 37),
 ('Alice In Chains', 37),
 ('AC/DC', 37),
 ('Page & Plant', 36),
 ('Marvin Gaye', 36),
 ('Marisa Monte', 36),
 ('Jota Quest', 36),
 ('Black Sabbath', 36),
 ('Black Label Society', 36),
 ('BackBeat', 36),
 ('O Rappa', 34),
 ('Marcos Valle', 34),
 ('Jimi Hendrix', 34),
 ('R.E.M. Feat. Kate Pearson', 33),
 ('Judas Priest', 33),
 ('Falamansa', 33),
 ('Bruce Dickinson', 33),
 ('Motörhead', 32),
 ('Temple of the Dog', 31),
 ('Jorge Ben', 31),
 ('Elis Regina', 31),
 ('Vinícius De Moraes', 30),
 ('Toquinho & Vinícius', 30),
 ('Raimundos', 30),
 ('O Terço', 30),
 ('Joe Satriani', 30),
 ('Raul Seixas', 28),
 ('Os Mutantes', 28),
 ('Olodum', 28),
 ('João Suplicy', 28),
 ('Chris Cornell', 28),
 ('Velvet Revolver', 26),
 ('JET', 26),
 ('Scorpions', 25),
 ('Mônica Marianno', 24),
 ('Godsmack', 24),
 ('David Coverdale', 24),
 ('Apocalyptica', 24),
 ('The Doors', 22),
 ('System Of A Down', 22),
 ('Buddy Guy', 22),
 ('Terry Bozzio, Tony Levin & Steve Stevens', 21),
 ('Stevie Ray Vaughan & Double Trouble', 20),
 ("Paul D'Ianno", 20),
 ('Men At Work', 20),
 ('Marillion', 20),
 ('Cláudio Zoli', 20),
 ('Pink Floyd', 18),
 ('Frank Zappa & Captain Beefheart', 18),
 ('Dennis Chambers', 18),
 ('Billy Cobham', 16),
 ('Eugene Ormandy', 15),
 ('Accept', 15),
 ('Berliner Philharmoniker & Herbert Von Karajan', 13),
 ("The King's Singers", 10),
 ('Michael Tilson Thomas & San Francisco Symphony', 10),
 ('Academy of St. Martin in the Fields & Sir Neville Marriner', 10),
 ('English Concert & Trevor Pinnock', 9),
 ('Habib Koité and Bamada', 6),
 ('Yo-Yo Ma', 5),
 ('Wilhelm Kempff', 5),
 ('Ton Koopman', 5),
 ('Sir Georg Solti, Sumi Jo & Wiener Philharmoniker', 5),
 ('Sir Georg Solti & Wiener Philharmoniker', 5),
 ('Scholars Baroque Ensemble', 5),
 ('Richard Marlow & The Choir of Trinity College, Cambridge', 5),
 ('Philip Glass Ensemble', 5),
 ('Philharmonia Orchestra & Sir Neville Marriner', 5),
 ('Orchestre Révolutionnaire et Romantique & John Eliot Gardiner', 5),
 ('Mela Tenenbaum, Pro Musica Prague & Richard Kapp', 5),
 ('Maurizio Pollini', 5),
 ('Martin Roscoe', 5),
 ('Luciano Pavarotti', 5),
 ("Kent Nagano and Orchestre de l'Opéra de Lyon", 5),
 ('Julian Bream', 5),
 ('James Levine', 5),
 ('Gustav Mahler', 5),
 ('Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra', 5),
 ('Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker', 5),
 ('Chicago Symphony Orchestra & Fritz Reiner', 5),
 ('Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti', 5),
 ('Britten Sinfonia, Ivor Bolton & Lesley Garrett', 5),
 ('Boston Symphony Orchestra & Seiji Ozawa', 5),
 ('Berliner Philharmoniker & Hans Rosbaud', 5),
 ('Barry Wordsworth & BBC Concert Orchestra', 5),
 ('Antal Doráti & London Symphony Orchestra', 5),
 ('Alberto Turco & Nova Schola Gregoriana', 5),
 ('Adrian Leaper & Doreen de Feis', 5),
 ('Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart', 5),
 ('Yehudi Menuhin', 4),
 ('The Posies', 4),
 ('The 12 Cellists of The Berlin Philharmonic', 4),
 ('Sergei Prokofiev & Yuri Temirkanov', 4),
 ('Royal Philharmonic Orchestra & Sir Thomas Beecham', 4),
 ('Roger Norrington, London Classical Players', 4),
 ('Otto Klemperer & Philharmonia Orchestra', 4),
 ('Orchestra of The Age of Enlightenment', 4),
 ('Nash Ensemble', 4),
 ('Michele Campanella', 4),
 ('London Symphony Orchestra & Sir Charles Mackerras', 4),
 ('Les Arts Florissants & William Christie', 4),
 ('Leonard Bernstein & New York Philharmonic', 4),
 ('Karsh Kale', 4),
 ('Itzhak Perlman', 4),
 ('Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer', 4),
 ('Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker', 4),
 ('Göteborgs Symfoniker & Neeme Järvi', 4),
 ('Gerald Moore', 4),
 ('Fretwork', 4),
 ('Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos', 4),
 ('Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir', 4),
 ('Emerson String Quartet', 4),
 ('Edo de Waart & San Francisco Symphony', 4),
 ("Christopher O'Riley", 4),
 ('Choir Of Westminster Abbey & Simon Preston', 4),
 ("Charles Dutoit & L'Orchestre Symphonique de Montréal", 4),
 ('C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu', 4),
 ('Berliner Philharmoniker, Claudio Abbado & Sabine Meyer', 4),
 ('Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker', 4),
 ('Aisha Duo', 4),
 ('Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair', 4),
 ('Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner', 4),
 ('Aaron Copland & London Symphony Orchestra', 4),
 ('Nicolaus Esterhazy Sinfonia', 3),
 ('Dread Zeppelin', 3),
 ('Luciana Souza/Romero Lubambo', 2),
 ('Calexico', 2),
 ('Cake', 2),
 ('Aquaman', 2),
 ('Aaron Goldberg', 2)]

Here, we can see that the artists found on playlists most are:
* Iron Maiden
* U2
* Metallica
* Led Zeppelin
* Deep Purple

## Do Protected vs Non-Protected Media Types Have An Effect on Popularity

In [11]:
%%sql

SELECT * FROM media_type

 * sqlite:///Datasets/chinook.db
Done.

[(1, 'MPEG audio file'),
 (2, 'Protected AAC audio file'),
 (3, 'Protected MPEG-4 video file'),
 (4, 'Purchased AAC audio file'),
 (5, 'AAC audio file')]

Chinook uses 5 different audio file formats for its music, however there are 3 core types:
* MPEG
* MPEG-4
* AAC

The variety in audio file formats predominantly comes from whether the file is protected or not. I will assess whether audio files that are protected generate more sales than audio files that are unprotected.

In [17]:
%%sql

WITH track_media AS(
    SELECT t.track_id, t.name 'track', mt.name 'media_type', il.quantity
    FROM track t
    INNER JOIN media_type mt ON mt.media_type_id = t.media_type_id
    INNER JOIN invoice_line il ON il.track_id = t.track_id
),


    track_protection AS(
        SELECT
            *,
            CASE
                WHEN media_type LIKE 'Protected%' THEN 'Protected'
                ELSE 'Unprotected'
            END AS protection_type
        FROM track_media
)

SELECT protection_type, COUNT(protection_type)
FROM track_protection
GROUP BY 1

 * sqlite:///Datasets/chinook.db
Done.

[('Protected', 442), ('Unprotected', 4315)]

It is clear that unprotected tracks are purchased more by customers compared to protected tracks, with there being 876% increase in sales of unprotected audio files. However, having a greater number of sales may not directly reveal greater popularity in unprotected audio files as we are yet to know how many tracks fall into each protection type, regardless of if they generated sales or not. It may be that there are simply more unprotected tracks available to purchase compared to protected tracks, resulting in the large disparity in sales between the two.

In [19]:
%%sql

WITH track_media AS(
    SELECT t.track_id, t.name 'track', mt.name 'media_type'
    FROM track t
    INNER JOIN media_type mt ON mt.media_type_id = t.media_type_id
),

  track_protection AS(
        SELECT
            *,
            CASE
                WHEN media_type LIKE 'Protected%' THEN 'Protected'
                ELSE 'Unprotected'
            END AS protection_type
        FROM track_media
)

SELECT protection_type, COUNT(protection_type)
FROM track_protection
GROUP BY 1

 * sqlite:///Datasets/chinook.db
Done.

[('Protected', 451), ('Unprotected', 3052)]

Here, we see the assumption that there are a greater number of unprotected audio files available to customers is true. So, these files generating more total sales should come as no surprise. However, given the values outputted by the two previous queries, protected audio files generate 0.977 average sales per file, and unprotected files generate 1.415 average sales per file. This reveals that unprotected files are bought more frequently than unprotected files and can be an indicator of popularity, however other factors would need to be considered.